extends layout
block content
  div.ptl#content
    div.resz.cetr
      include modest-search
      div.wrapper
        div.row.text-center
          h1= info.header
          each abc in info.context
            p.test= abc
          each o in info.progress
            if o.percentage
              div.progress.percentage
                div(title=o.name)
                  span= o.my
                  span= o.percentage
                div(style={width:o.percentage+'%'})
            else if (o.status)
              div.progress.status
                div(title=o.name)
                  span= o.my
                  span= o.status
          p.feedback
            a(href="https://docs.google.com/forms/d/e/1FAIpQLScSyBRtQrEc1YGh3m0O96vy6YNlCtJZR5T6NIJ9hYJRfcnV2g/viewform" target="_blank" title="Feedback") အကြံဉာဏ်များ
            | နှင့်
            |
            a(href="https://docs.google.com/forms/d/e/1FAIpQLSceWwVrtH5KivCR3wuvKqMn8U238-aCxOJIIWs1gK4pt994oA/viewform" target="_blank" title="Suggestion") ဝေါဟာရများ
            | ကို Google Form မှတစ်ဆင့် ပေးနိုင်ပါသည်
        div.row
          div.dictionaries
            ol
              each conti in dictionaries
                li(class=conti.name.toLowerCase() class={active: conti.lang.find(e=>e.id == sol.id)})
                  h3 #{conti.my}
                  ol
                    each lang in conti.lang
                      li(class=lang.id class={active: lang.id == sol.id})
                        a(data-lag=lang.id href='/dictionary/'+lang.name.toLowerCase() title=lang.name) #{lang.my}
