extends layout
block content
  div.portal#content
    div.resize.center
      include modest-search
      div.wrapper
        div.row
          div.dictionaries
            ol
              each conti in dictionaries
                li(class=conti.name.toLowerCase() class={active: conti.lang.find(e=>e.id == sol.id)})
                  h3 #{conti.name}
                  ol
                    each lang in conti.lang
                      li(class=lang.id class={active: lang.id == sol.id})
                        a(data-lag=lang.id href='/dictionary/'+lang.name.toLowerCase()) #{lang.name}
