div.portal#footer
  div
    div.responsive
      if app_locale
        ol.menu.locale
          each o in app_locale
            li(class=o.id class={active: o.active})
              a(href="?language="+o.id)
                span= o.id.toUpperCase()

      if visits_total || visits_count
        ol.served
          li.hits
            if visits_total
              span.user(title="Overall hits") #{visits_total}
            if visits_count
              span.Hited.by(title="Overall hits") #{visits_count}
            span served

      ol.copyright
        li.copyright MyOrdbok © 2019
      ol.menu.privacy
        each v, route in navTerms
          li(class=v.route class={active: v.active})
            a(href=v.url)
              span= v.text
