extends layout
//- mixin highlight(eg)
//-   eg.replace(/\'(.*?)\'/g, "<em>$1</em>")

mixin rootDesc(o)
  p!= o.desc.replace(/\'(.*?)\'/g, "<q>$1</q>")
  if o.note
    ul.note
      li!= o.note.replace(/\'(.*?)\'/g, "<em>$1</em>")

mixin wordList(o)
  each e in o
    ol.word(data-name=e.name)
      each w in e.row
        li= w
    if e.desc
      ul.worddesc
        each w in e.desc
          li!= w.replace(/\'(.*?)\'/g, "<strong>$1</strong>")

mixin forms(o)
  //- dl.form
  //-   dt
  //-     span= o.title.join(' + ')
  //-     if o.chain
  //-       | =
  //-       mark= o.chain
  //-   each i in o.row
  //-     dd
  //-       span= i.join(' + ')
  //-       if o.chain
  //-         | =
  //-         mark= i.join('')
  table
    if o.caption
      caption= o.caption
    thead
      tr
        each i in o.title
          th= i
        if o.chain
          th.chain= o.chain
    tbody
      each r in o.row
        tr
          each i in r
            td= i
          if o.chain
            td.chain= r.join('')

mixin categoryLink(o)
  //- p!= o.map(e => e.desc.replace(/\'(.*?)\'/g, "<q>$1</q>")).join(' ')
  each e in o
    section
      p= e.desc
      ol.mynum
        each i in e.row
          li
            a(href='/grammar/0#1'.replace(0, grammar.info.name.toLowerCase()).replace(1, i))= i


mixin examList(o)
  ul.exam
    each e in o
      li
        p!= e.name.replace(/\'(.*?)\'/g, "<q>$1</q>")
        if e.desc
          ol(type="a")
            each d in e.desc
              li!= d.replace(/\'(.*?)\'/g, "<em>$1</em>")
        if e.form
          each i in e.form
            +forms(i)

        //- if e.form_NEW
        //-   ul.form
        //-     each i in e.form_NEW
        //-       if Array.isArray(i)
        //-         li #{i.join(' + ')} #[span =] #[strong=i.join('')]
        //-       else
        //-         li.header #{i.title.join(' + ')}
        //-           if i.chain
        //-             span =
        //-             strong= i.chain

block content
  div.portal#content
    div.resize
      div.grammar.forPartsofspeech
        div.row.primary.text-centers
          div
            h1= grammar.root.name
            +rootDesc(grammar.root)
            if grammar.cate
              +categoryLink(grammar.cate)

        div.row.secondary.text-centers
          div.detail
            if grammar.word
              +wordList(grammar.word)
            +examList(grammar.exam)

            each o in grammar.kind
              div
                h2(id=o.root.name)= o.root.name
                div
                  +rootDesc(o.root)
                  if o.cate
                    +categoryLink(o.cate)
                  if o.word
                    +wordList(o.word)
                  if o.exam
                    +examList(o.exam)
                  if o.kind
                    each i in o.kind
                      div
                        h3(id=i.root.name)= i.root.name
                        div
                          +rootDesc(i.root)
                          if i.word
                            +wordList(i.word)
                          if i.exam
                            +examList(i.exam)
                          if i.cate
                            +categoryLink(i.cate)
                          if i.kind
                            each e in i.kind
                              div
                                h4(id=e.root.name)= e.root.name
                                div
                                  +rootDesc(e.root)
                                  if e.word
                                    +wordList(e.word)
                                  if e.exam
                                    +examList(e.exam)

block footer
  include footer