div.portal#header
  div.resize
    div.row
      div.column
        ol.menu.dictionary#MyOrdbok-logo(data-lang=sol.id)
          each v, route in navDictionary
            li(class=v.route class={active: v.active})
              a(href='/dictionary')
                span #{sol.name}
                span Myanmar
      div.column.wide
        each v, route in navDefinition
          search-engine(name='search' method='get' action=v.url query=meta.q)
            p
              input(type="search" name="q" placeholder=" ...Search")