doctype html
html(lang='en' dir='ltr')
  head
    block head
      meta(charset='UTF-8')
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(name='robots' content='index, follow')
      meta(name='author' content='Khen Solomon Lethil')
      if title
        title= title
      if keywords
        meta(name="keywords" content=keywords)
      if description
        meta(name="description" content=description)
      meta(name="application-name" content=appName data-version=appVersion)
      base(href='/')
      //- link(rel='api', href='api')
      //- link(rel='icon', href='favicon.png' type='image/png')
      link(ref="icon", href="favicon.png")

      meta(property="og:image", content="/screenshot-home.png")

      link(rel="apple-touch-icon", sizes="180x180" href="/apple-touch-icon.png")
      link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
      link(rel="manifest" href="/app.webmanifest")
      style.
        @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

      //- Google Tag Manager
      //- script.
      //-   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      //-   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      //-   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      //-   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      //-   })(window,document,'script','dataLayer','GTM-WMP5B6F');

      //- Google Analytics
      //- script(src='https://www.googletagmanager.com/gtag/js?id=UA-18578545-1')
      //- script.
      //-   window.dataLayer = window.dataLayer || [];
      //-   function gtag(){dataLayer.push(arguments);}
      //-   gtag('js', new Date());
      //-   gtag('config', 'UA-18578545-1');

      //- script(data-ad-client="ca-pub-2986689390924566" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
      //- script(async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js")

      script(src='https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js')
      script(src='https://cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js')
      //- script(src='https://cdn.jsdelivr.net/npm/vue-router@3.1.2/dist/vue-router.min.js')
      //- script(src='https://code.jquery.com/jquery-3.3.1.min.js')
      //- script(src=isDevelopment?'/jquery.js':'https://code.jquery.com/jquery-3.3.1.min.js')
      //- script(type='text/javascript', src='/script.js')
      link(rel='stylesheet', href='/style.css?v='+appVersion)
      //- script.
      //-   $(function(){
      //-     $(document).MyOrdbok(['suggest ready','toggle menu','zA','zO']);
      //-   });
  body(class=pageClass)
    //- Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WMP5B6F' height=0 width=0 style='display:none;visibility:hidden')

    div#myordbok.primary
      block bar
        div.ptl#bar
          div.ltrt
            div.navigate
              div.column
                include bar-page
              //- div.column
              //-   include bar-user
      block header
      block content
      block footer

    script(src='/script.js?v='+appVersion)