div.modest
  div.logo
    ol.menu.dictionary#MyOrdbok-logo(data-lang=sol.id)
      each v, route in navDictionary
        li(class=v.route class={active: v.active})
          a(href=v.url.replace(':id',sol.name.toLowerCase()).replace('?',''))
            span #{sol.my}
            span မြန်မာ
  div.search
    each v, route in navDefinition
      search-engine(name='search' method='get' action=v.url)
        p
          input(type="search" name="q" placeholder=" ...Search")
