dl.notfound.word
  dt
    p= meta.q
      span.speech(class=lang.tar).zA.icon-volume-up
  dd
    dl.helps
      dt
        span In order to get the most relevant definition...
      dd
        ul
          li ...try with general words!
          li ...check the spelling!
          li ...make sure that you are defining #[strong(id=1)  #{meta.q} ] in #{lang.tar}!
    dl.helps
      dt
        span Help us!
      dd.word.help.zO(data-word=meta.q)
