mixin wordlink(q)
  a(href='definition?q='+q.toLowerCase())= q
//- mixin test(q)
//-   q.replace(/\{-(.*?)\-}/g, '<a href="definition?q=$1">$1</a>')

//- mixin example(eg)
  //- eg.replace(/{-/g,'<a href="definition?q=').replace(/-:-/g,'">').replace(/-}/g,'</a>')

mixin meaning(row)
  each define,grammar in row
    dl(class=grammar.toLowerCase())
      dt
        span= grammar
      dd
        each mean,ty in define
          p!= mean.v.replace(/\{-(.*?)\-}/g, '<a href="definition?q=$1">$1</a>')
          if mean.exam
            ul.eg
              each eg in mean.exam
                li!= eg.replace(/\{-(.*?)\-}/g, '<a href="definition?q=$1">$1</a>')

mixin notation(row)
  dl.number.a1
    dt
      span= row.number
    dd
      ul
        each k in row.notation
          li= k.sense

mixin thesaurus(row)
  if row.length
    dl.thesaurus.synonym
      dt
        span Thesaurus
      dd
        p
          each word in row
            +wordlink(word)

mixin formOf(row)
  if row.length
    dl.thesaurus.formOf
      dt
        span ...form Of
      dd
        ul
          each k in row
            li!= k.replace(/\{-(.*?)\-}/g, '<a href="definition?q=$1">$1</a>')

mixin Pos(row)
  if row.length
    dl.thesaurus.pos
      dt
        span ...Pos tmp ???
      dd
        ul
          each k in row
            li!= k.v.replace(/\{-(.*?)\-}/g, '<a href="definition?q=$1">$1</a>')

mixin result(o)
  each row in o
    if Array.isArray(row.clue)
      +translation(row)
    else
      +definition(row)

mixin translation(row, w)
  dl.definition.sentence
    dt
      p= row.word
        span.speech(class=lang.tar).zA.icon-sound
    dd
      each e in row.clue
        +definition(e)

mixin definition(raw)
  dl.definition.word
    dt
      p= raw.word
        span.speech.en.zA.icon-volume-up
    dd
      each row, name in raw.clue
        +#{name}(row)